{% extends 'layoutAdmin.twig' %}

{% block styles %}
<style>
form .row{
  padding-top: 20px;
}
</style>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{% endblock %}

{% block body %}



<div class="container">
  <h1>{% if hyip %}Modifier{% else %}Ajouter{% endif %} un HYIP</h1>
  <div class="row">
    <div class="col">
      <form action="/{% if hyip %}admin/hyip/edit{% else %}admin/hyip/create{% endif %}" method="POST" enctype="multipart/form-data">
        {% if hyip %}<input type="hidden" class="form-control" id="id" name="id" value={{ hyip.id }}>{% endif %}
        <div class="row">
          <div class="col">
            <label for="name">Nom</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Entrer le nom" required {% if hyip %}value="{{ hyip.name }}"{% endif %}>
          </div>
          <div class="col">
            <label for="url">Lien</label>
            <input type="text" class="form-control" id="url" name="url" placeholder="Entrer le lien"  required {% if hyip %}value="{{hyip.url}}"{% endif %}>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="serious">Sérieux</label>
            <input type="number" class="form-control" id="serious" name="serious" placeholder="Entrer le sérieux" min="0" max="5" required {% if hyip %}value={{hyip.serious}}{% endif %}>
          </div>
          <div class="col">
            <label for="profitability">Rentabilité</label>
            <input type="number" class="form-control" id="profitability" name="profitability" placeholder="Entrer la rentabilité" min="0" max="5" required {% if hyip %}value={{hyip.profitability}}{% endif %}>
          </div>
          <div class="col">
            <label for="simplicity">Simplicité</label>
            <input type="number" class="form-control" id="simplicity" name="simplicity" placeholder="Entrer la simplicité" min="0" max="5" required {% if hyip %}value={{hyip.simplicity}}{% endif %}>
          </div>
          <div class="col">
            <label for="sponsorship">Parrainage</label>
            <input type="number" class="form-control" id="sponsorship" name="sponsorship" placeholder="Entrer le parrainage" min="0" max="5" required {% if hyip %}value={{hyip.sponsorship}}{% endif %}>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="percentage">Pourcentage a investir</label>
            <input type="number" class="form-control" id="percentage" name="percentage" placeholder="Entrer le pourcentage" min="0" max="100" required {% if hyip %}value={{hyip.percentage}}{% endif %}>
          </div>
          <div class="col">
            <label for="minimalDeposit">Dépot minimal</label>
            <input type="number" class="form-control" id="minimalDeposit" name="minimalDeposit" placeholder="Entrer le depot minimal" min="0" max="1000" required {% if hyip %}value={{hyip.minimalDeposit}}{% endif %}>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="modesDepot">modes de dépôt</label>
            <input type="text" class="form-control" id="modesDepot" name="modesDepot" placeholder="Entrer les différents modes de dépôt" required {% if hyip %}value="{{hyip.modesDepot}}"{% endif %}>
          </div>
          <div class="col">
            <label for="modesRetrait">modes de retrait</label>
            <input type="text" class="form-control" id="modesRetrait" name="modesRetrait" placeholder="Entrer les différents modes de retrait" required {% if hyip %}value="{{hyip.modesRetrait}}"{% endif %}>
          </div>
        </div>
        <div class="form-check">
          <br>
          <input type="checkbox" class="form-check-input" id="payeur" name="payeur" {% if hyip and hyip.payeur %}checked{% endif %} value="true">
          <label class="form-check-label" for="status">Payeur?</label>
          <br>
        </div>
        <br>
        <div class="form-group">
          <label for="presentation">Présentation</label>
          <textarea class="form-control content" id="presentation" name="presentation" rows="5" required></textarea>
        </div>
        <div class="form-group">
          <label for="plans">Plans</label>
          <textarea class="form-control content" id="plans" name="plans" rows="5" required></textarea>
        </div>
        <div class="form-group">
          <label for="affiliation">Affiliation</label>
          <textarea class="form-control content" id="affiliation" name="affiliation" rows="5" required></textarea>
        </div>
        <div class="form-group">
          <label for="avis">Notre avis</label>
          <textarea class="form-control content" id="avis" name="avis" rows="5" required></textarea>
        </div>
        {% if hyip  == undefined %}
        <div class="form-group">
          <label for="logo">Image logo</label>
          <input type="file" name="logo" id="logo">
        </div>
        <div class="form-group">
          <label for="images">Autres images</label>
          <input type="file" name="images" id="images" multiple>
        </div>
        {% else %}
        <div>(Modification impossible des photos)</div><br>
        <div class="form-group">
          <label for="logo">Image logo</label><br><br>
          <img src="/{{ getHyipLogoFileName(hyip)}}" class="img-fluid logo" alt="Responsive image">
          <br><br>
          <label for="logo">Autres images</label><br><br>
          {% for image in hyip.images %}
          {% if image.logo == false %}
          <img src="/{{ image.fileName }}" class="img-fluid logo" alt="Responsive image"><br>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Valider</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script>
$(document).ready(function() {
  $('textarea').summernote({
    height: 180,
    toolbar: [
      ['style', ['bold', 'italic', 'underline']],
      // ['font', ['strikethrough', 'superscript', 'subscript']],
      ['fontsize', ['fontsize']],
      ['color', ['color']],
      ['para', ['ul', 'ol']],
      ['insert', ['video']],
      // ['height', ['height']]
    ]
  });
  {% if hyip %}
  let textPresentation = '{{ hyip.presentation }}';
  $('#presentation').summernote('code', textPresentation);
  let textPlans = '{{ hyip.plans }}';
  $('#plans').summernote('code', textPlans);
  let textAffiliation = '{{ hyip.affiliation }}';
  $('#affiliation').summernote('code', textAffiliation);
  let textAvis = '{{ hyip.avis }}';
  $('#avis').summernote('code', textAvis);
  {% endif %}
});
</script>
{% endblock %}
