{% extends 'layout.twig' %}
{% block styles %}
<style>
.checked {
  color: orange;
}
h2 {
  font-weight: bold;
  margin-bottom: 16px;
}
.logo{
  margin-bottom: 30px;
  margin-top: 80px;
}
img{
  margin-bottom: 80px;
}
.bloc{
  padding: 10px 10px 30px 10px;
}
.table-infos{
  margin-top: 70px;
}
.table-dark {
  background-color: #616161!important;
}
#lien{
  color: black;
  font-weight: bold;
}
.image-link {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
/* aligns caption to center */
.mfp-title {
  text-align: center;
  padding: 6px 0;
}

</style>

<link rel="stylesheet" href="/css/magnific-popup.css">

{% endblock %}

{% block body %}
<div class="container">
  <div class="row text-center" style="padding-top:80px;">
    <h1 class="d-block mx-auto"><b>{{hyip.name|upper}}</b></h1>
  </div>

  <div class="row bloc">
    <div class="col-sm text-center">
      <img src="/{{ getHyipLogoFileName(hyip) }}" class="img-fluid logo" alt="Responsive image">

      <table class="table table-borderless">
        <tr>
          <th scope="row">Serieux</th>
          <td>{{ getStars(hyip.serious,5) }}</td>
        </tr>
        <tr>
          <th scope="row">Rentabilité</th>
          <td>{{ getStars(hyip.profitability,5) }}</td>
        </tr>
        <tr>
          <th scope="row">Simplicité</th>
          <td>{{ getStars(hyip.simplicity,5) }}</td>
        </tr>
        <tr>
          <th scope="row">Parrainage</th>
          <td>{{ getStars(hyip.sponsorship,5) }}</td>
        </tr>
      </table>
    </div>
    <div class="col-sm"><table class="table table-dark table-infos">
      <tbody>
        <tr>
          <th scope="row">Nom</th>
          <td>{{ hyip.name }}</td>
        </tr>
        <tr>
          <th scope="row">Statut</th>
          <td style="text-align: center;font-weight:bold;background-color:{% if hyip.payeur %}#68FF33{% else %}#FF5533{% endif %}">
            {% if hyip.payeur %}PAYE BIEN !{% else %}NE PAYE PAS !{% endif %}
          </td>
        </tr>
        <tr>
          <th scope="row">Lien</th>
          <td><a id="lien" href="{{ hyip.url }}" target="_blank">Inscription</a></td>
        </tr>
        <tr>
          <th scope="row">Dépot minimal</th>
          <td>{{ hyip.minimalDeposit }}$</td>
        </tr>
        <tr>
          <th scope="row">Méthodes de dépot</th>
          <td>{{ hyip.modesDepot }}</td>
        </tr>
        <tr>
          <th scope="row">Méthodes de retrait</th>
          <td>{{ hyip.modesRetrait }}</td>
        </tr>
        <tr>
          <th scope="row">Investissement conseillé</th>
          <td>{{ hyip.percentage }}% du capital</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row bloc">
  <div class="col-sm">
    <h2>Présentation</h2>
    {{ hyip.presentation }}
  </div>
</div>

<div class="row bloc">
  <div class="col-sm">
    <h2>Plans</h2>
    {{ hyip.plans }}
  </div>
</div>

<div class="row bloc">
  <div class="col-sm">
    <h2>Affiliation</h2>
    {{ hyip.affiliation }}
  </div>
</div>

<div class="row bloc">
  <div class="col-sm">
    <h2>Notre avis</h2>
    {{ hyip.avis }}
  </div>
</div>

<div class="row bloc">
  <div class="col-sm">
    <h2>Preuves de paiement</h2>
  </div>
</div>
<div class="row bloc">
  {% for image in hyip.images %}
  {% if image.logo == false %}
  <div class="col-sm text-center">
    <a class="with-caption image-link" href="/{{ image.fileName }}">
      <img src="/{{ image.fileName }}"  style="padding:20px" class="img-fluid"/>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</div>


</div>

{% endblock %}


{% block scripts %}
<script src="/js/magnific-popup.min.js"></script>
<script>
$(document).ready(function() {
  // $('.image-link').magnificPopup({type:'image'});
  $('.with-caption').magnificPopup({
    type: 'image',
    closeBtnInside: false,
    mainClass: 'mfp-with-zoom mfp-img-mobile',
    image: {
      verticalFit: true,
      // titleSrc: function(item) {
      //
      //   var caption = item.el.attr('title');
      //
      //   var pinItURL = "https://pinterest.com/pin/create/button/";
      //
      //   // Refer to https://developers.pinterest.com/pin_it/
      //   pinItURL += '?url=' + 'http://dimsemenov.com/plugins/magnific-popup/';
      //   pinItURL += '&media=' + item.el.attr('href');
      //   pinItURL += '&description=' + caption;
      //
      //
      //   return caption + ' &middot; <a class="pin-it" href="'+pinItURL+'" target="_blank"><img src="https://assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>';
      // }
    },
    gallery: {
      enabled: true
    },
    callbacks: {
      open: function() {
        // this.wrap.on('click.pinhandler', '.pin-it', function(e) {
        //
        //   // This part of code doesn't work on CodePen, as it blocks window.open
        //   // Uncomment it on your production site, it opens a window via JavaScript, instead of new page
        //   window.open(e.currentTarget.href, "intent", "scrollbars=yes,resizable=yes,toolbar=no,location=yes,width=550,height=420,left=" + (window.screen ? Math.round(screen.width / 2 - 275) : 50) + ",top=" + 100);
        //
        //
        //   return false;
        // });
      },
      beforeClose: function() {
        //this.wrap.off('click.pinhandler');
      }
    }

  });
});
</script>
{% endblock %}
