{% extends 'layout.twig' %}
{% block header %}
<header id="portfolio">
  <a href="#"><img src="/images/hyip_banniere.png" style="width:120px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
  <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
  <div class="w3-container">
    <h1><b>HYIP</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">Filtre:</span>
      <button class="w3-button w3-black">ALL</button>
      <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Les + sures</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Petits dépots</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Meilleurs risques/rewards</button>
    </div>
  </div>
</header>
{% endblock %}

{% block body %}


<div class="w3-row-padding">
  {% for hyip in hyips %}
  <div class="w3-third w3-container w3-margin-bottom">
    <a href="/hyip/{{ hyip.id }}">
      <div style="border: 1px black solid; padding:15px; height: 180px;" class="w3-dark-grey d-flex flex-wrap align-items-center">
      <img src="/images/{{hyip.logo}}" alt="{{hyip.name}}" class="img-fluid d-block mx-auto">
    </div>
    </a>
    <div class="w3-container w3-white">
      <a href="/hyip/{{ hyip.id }}">
        <h2 style="color: black; padding:12px 0px;"><b>{{ hyip.name }}</b></h2>
      </a>
      <p>{{ hyip.presentation|slice(0,350) }}...</p>
    </div>
  </div>
  {% endfor %}
</div>

<!-- Pagination -->
<!-- <div class="w3-center w3-padding-32">
  <div class="w3-bar">
    <a href="#" class="w3-bar-item w3-button w3-hover-black">&laquo;</a>
    <a href="#" class="w3-bar-item w3-black w3-button">1</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-black">&raquo;</a>
  </div>
</div> -->




{% endblock %}
