{% extends 'layout.twig' %}
{% block body %}
<style>
.checked {
  color: orange;
}
</style>
<div class="container">
  <div class="row" style="padding-top:80px;">
    <h1>{{hyip.name}}</h1>
  </div>

  <div class="row" style="padding-top:150px; padding-bottom:50px">
    <div class="col-sm">
      <img src="/images/{{ hyip.logo }}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm"><table class="table">
      <tbody>
        <tr>
          <th scope="row">Nom</th>
          <td>{{ hyip.name }}</td>
        </tr>
        <tr>
          <th scope="row">Indice de confiance</th>
          <td>
            {% for i in 1..hyip.confiance %}
            <span class="fa fa-star checked"></span>
            {% endfor %}
            {% for i in 1..(5-hyip.confiance) %}
            <span class="fa fa-star"></span>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th scope="row">lien</th>
          <td><a>{{ hyip.url }}</a></td>
        </tr>
        <tr>
          <th scope="row">dépot minimal</th>
          <td><a>{{ hyip.minimalDeposit }}$</a></td>
        </tr>
        <tr>
          <th scope="row">Méthodes de dépot</th>
          <td><a>{{ hyip.modesDepot }}</a></td>
        </tr>
        <tr>
          <th scope="row">Méthodes de retrait</th>
          <td><a>{{ hyip.modesRetrait }}</a></td>
        </tr>
        <tr>
          <th scope="row">Investissement conseillé</th>
          <td><a>{{ hyip.percentage }}% du capital</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row" style="padding-top:80px; padding-left: 20px; padding-bottom: 50px">
  <div class="col-sm">
    <h2 style="font-weight: bold">Présentation</h2>
    {{ hyip.presentation }}
  </div>
</div>

<div class="row" style="padding-top:80px; padding-left: 20px; padding-bottom: 50px">
  <div class="col-sm">
    <h2 style="font-weight: bold">Plans</h2>
    {{ hyip.plans }}
  </div>
</div>

<div class="row" style="padding-top:80px; padding-left: 20px; padding-bottom: 50px">
  <div class="col-sm">
    <h2 style="font-weight: bold">Affiliation</h2>
    {{ hyip.affiliation }}
  </div>
</div>

<div class="row" style="padding-top:80px; padding-left: 20px; padding-bottom: 50px">
  <div class="col-sm">
    <h2 style="font-weight: bold">Notre avis</h2>
    {{ hyip.avis }}
  </div>
</div>

<div class="row" style="padding-top:80px; padding-left: 20px; padding-bottom: 50px">
  {% for image in hyip.images %}
  <div class="col-sm">
    <img src="/images/{{ image }}" alt="Norway" class="img-responsive" style="margin:auto">
  </div>
  {% endfor %}
</div>


</div>

{% endblock %}
