{% extends 'layout.twig' %}
{% block body %}
<style>
.checked {
  color: orange;
}
h2 {
  font-weight: bold;
  margin-bottom: 16px;
}
.logo{
  margin-bottom: 100px;
  margin-top: 100px;
}
img{
  margin-bottom: 80px;
}
.bloc{
  padding: 10px 10px 60px 10px;
}
</style>
<div class="container">
  <div class="row text-center" style="padding-top:80px;">
    <h1 class="d-block mx-auto"><b>{{hyip.name|upper}}</b></h1>
  </div>

  <div class="row bloc">
    <div class="col-sm text-center">
      <img src="/images/{{ hyip.logo }}" class="img-fluid logo" alt="Responsive image">
    </div>
    <div class="col-sm"><table class="table">
      <tbody>
        <tr>
          <th scope="row">Nom</th>
          <td>{{ hyip.name }}</td>
        </tr>
        <tr>
          <th scope="row">Statut</th>
          <td style="text-align: center;font-weight:bold;background-color:{% if hyip.status=='payeur' %}#68FF33{% else %}#FF5533{% endif %}">{{ hyip.status }}</td>
        </tr>
        <tr>
          <th scope="row">Indice de confiance</th>
          <td>
            {% for i in 1..hyip.confiance %}
            <span class="fa fa-star checked"></span>
            {% endfor %}
            {% for i in 1..(5-hyip.confiance) %}
            <span class="fa fa-star"></span>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th scope="row">lien</th>
          <td><a href="{{ hyip.url }}" target="_blank">inscription</a></td>
        </tr>
        <tr>
          <th scope="row">dépot minimal</th>
          <td>{{ hyip.minimalDeposit }}$</td>
        </tr>
        <tr>
          <th scope="row">Méthodes de dépot</th>
          <td>{{ hyip.modesDepot }}</td>
        </tr>
        <tr>
          <th scope="row">Méthodes de retrait</th>
          <td>{{ hyip.modesRetrait }}</td>
        </tr>
        <tr>
          <th scope="row">Investissement conseillé</th>
          <td>{{ hyip.percentage }}% du capital</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row bloc">
  <div class="col-sm">
    <h2>Présentation</h2>
    {{ hyip.presentation }}
  </div>
</div>

<div class="row bloc">
  <div class="col-sm">
    <h2>Plans</h2>
    {{ hyip.plans }}
  </div>
</div>

<div class="row bloc">
  <div class="col-sm">
    <h2>Affiliation</h2>
    {{ hyip.affiliation }}
  </div>
</div>

<div class="row bloc">
  <div class="col-sm">
    <h2>Notre avis</h2>
    {{ hyip.avis }}
  </div>
</div>

<div class="row bloc">
  <div class="col-lg">
    <h2>Preuves de paiement</h2>
  </div>
  {% for image in hyip.images %}
  <div class="col-sm text-center">
    <img src="/images/{{ image }}" class="img-responsive">
  </div>
  {% endfor %}
</div>


</div>

{% endblock %}
