{% extends 'layout.twig' %}

{% block body %}
<div class="w3-container w3-padding-large" style="margin-bottom:32px">
  <br>
  <h2><b>{{ __('INDEX.ABOUT_ME') }}</b></h2>
  <br>
  <p>
    <br>
    {{ __('INDEX.PART_ONE') }}
    <br><br>
    {{ __('INDEX.PART_TWO') }}
    <br><br>
    {{ __('INDEX.PART_THREE') }}
    <br><br><br><br>

    {{ __('INDEX.PART_FOUR') }}
    <br><br><br>
    - {{ __('INDEX.PART_FIVE') }}
    <br><br>
    - {{ __('INDEX.PART_SIX') }}
    <br><br>
    - {{ __('INDEX.PART_SEVEN') }}
    <br><br>
    - {{ __('INDEX.PART_HEIGHT') }}
    <br><br>

    <br><br>
  </p>
  <hr>

</div>

{% endblock %}
